# ValidationResult


## Fields

| Field                                                                  | Type                                                                   | Required                                                               | Description                                                            |
| ---------------------------------------------------------------------- | ---------------------------------------------------------------------- | ---------------------------------------------------------------------- | ---------------------------------------------------------------------- |
| `errors`                                                               | List[[shared.ValidationItem1](../../models/shared/validationitem1.md)] | :heavy_minus_sign:                                                     | N/A                                                                    |
| `warnings`                                                             | List[[shared.ValidationItem1](../../models/shared/validationitem1.md)] | :heavy_minus_sign:                                                     | N/A                                                                    |